.filter-block{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filters-set{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filter-btn{
    width: 20%;
}

.action-block{
    display: flex;
    flex-direction: row-reverse;
}